@import "../../assets/style/preprocess";

.autocomplete {
  position: relative;
  &-input {
    display: none;
  }
  &-list {
    position: absolute;
    z-index: map-get($zIndex, selectList);
    cursor: pointer;

    overflow: auto;

    width: 100%;
    max-height: 150px;
    margin: 0;
    margin-top: 5px;
    padding: 0;

    border: 1px solid $border-color;

    list-style: none;

    border-radius: 0;
    background-color: $background-color;
    box-shadow: 0 5px 25px $box-shadow-color;
    li {
      margin: 0;
      padding: 8px 15px;

      &:last-child {
        border-bottom: 0;
      }
      &:hover {
        background-color: $hover-background-color;
      }
      &.active {
        background-color: $selected-background-color;
      }
      em {
        @include themify($themes) {
          background-color: themed("brandColor");
        }
        color: #ffffff;
      }
    }
  }
  .autocomplete-chunks {
    position: relative;
    display: flex;
    z-index: map-get($zIndex, inputContent);
    flex-wrap: wrap;
    min-height: 46px;
    cursor: text;
    .autocomplete-chunk-item {
      @include themify($themes) {
        background-color: themed("brandColor");
      }
      color: #ffffff;
      padding: 6px 8px;
      margin: 8px;
      cursor: default;
    }
    i.far {
      margin-right: 4px;
      cursor: pointer;
      transition: all 0.3s;
    }
    i.far:hover {
      transform: scale(1.1, 1.1);
    }
  }
  &-cover {
    position: absolute;
    top: 0;
    left: 0;
    color: $text-color;
    font-weight: 500;
    font-size: 12px;
    border-radius: 0;
    line-height: 16px;
    background-color: $background-color;
    padding: 14px 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $border-color;
    outline: none;
    &:focus {
      @include themify($themes) {
        border-color: themed("brandColor");
      }
    }
  }
}
