@import 'assets/style/preprocess';

.label {
  display: block;
  margin-bottom: 4px;
}

.input {
	color: $text-color;
  font-weight:500;
	font-size: 12px;
	border-radius: 0;
	line-height: 16px;
	background-color: $background-color;
	padding: 12px 16px;
	width: 100%;
	box-sizing: border-box;
  border: 1px solid $border-color;
  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.input:focus{
	background: $background-color;
	box-shadow: 0;
	border: 1px solid $brand-color;
	color: $text-color;
	outline: none;
  padding: 12px 16px;
}

.focused{
	color:$text-color;
	border: 1px solid $brand-color;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:$background-color;
}


.error-message {
  color: $error-color;
  display: none;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0;
}

/* Error Styling */

.error label {
  color: $error-color;
}

.error input[type=text] {
  background-color: $background-color;
  border: 1px solid $error-color;
  outline: none;
}

.error .error-message {
  display: inline-block;
}
