@import 'assets/style/preprocess';

.button {
  line-height: 1.499;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  box-shadow: 0 2px 0 $button-box-shadow-color;
  cursor: pointer;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 0;
  color: rgba(0,0,0,.65);
  border: 1px solid $button-border-color;
  background-color: $button-backgound-color;
  outline: none;

  &.primary {
    @include themify($themes) {
      background-color: themed('brandColor');
      border: 1px solid themed('brandColor');
    }
    height: 40px;
    line-height: 40px;
    // background-color: $button-primary-backgound-color;
    color: $button-primary-text-color;
    font-size: 12px;
    box-shadow: $button-primary-box-shadow-color 0px 1px 3px;
    // border: 1px solid $button-primary-backgound-color;
    border-radius: 0;
    &.ghost {
      background-color: $button-primary-ghost-backgound-color;
      // color: $button-primary-ghost-text-color;
      // border: 1px solid $button-primary-ghost-border-color;
      @include themify($themes) {
        color: themed('brandColor');
        border: 1px solid themed('brandColor');
      }
    }
  }

  &.secondary {
    height: 40px;
    line-height: 40px;
    background-color: $button-secondary-backgound-color;
    color: $button-secondary-text-color;
    font-size: 12px;
    box-shadow: $button-secondary-box-shadow-color 0px 1px 3px;
    border: 1px solid $button-secondary-border-color;
    border-radius: 0;
    &.ghost {
      background-color: $button-secondary-ghost-backgound-color;
      color: $button-secondary-ghost-text-color;
      border: 1px solid $button-secondary-ghost-border-color;
    }
  }

  &.disabled, &[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &.block {
    display: block;
    width: 100%;
  }
}
