@import 'assets/style/preprocess';

$select-height: 40px;
$dropdown-position-top: 42px;

.container .dropdown-container {
  display: none;
}
.label {
  display: block;
  margin-bottom: 4px;
}
.container {
  position: relative;
  &.expanded {
    .dropdown-container {
      display: block;
    }
    .zen-select__arrow {
      transform: rotate(-180deg);
    }
  }

  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    .title-outer {
      cursor: not-allowed;
    }
  }
}

.title-outer {
  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: 0;
  outline: none;
  user-select: none;
  height: $select-height;
  cursor: pointer;
  .title-inner {
    position: relative;
    text-align: left;
    padding: 0 16px;
    line-height: $select-height;
    font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    color: $text-color;
    display: flex;
    justify-content: space-between;
  }
  .arrow {
    user-select: none;
    line-height: $select-height;
  }
}

.dropdown-container {
  width: 100%;
  line-height: 1.5;
  z-index: 1050;
  font-size: 14px;
  background-color: $background-color;
  border-radius: 0;
  box-shadow: 0 2px 8px $box-shadow-color;
  .dropdown-item {
    position: relative;
    display: block;
    padding: 5px 16px;
    overflow: hidden;
    color: $text-color;
    font-weight: 400;
    line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: background .3s ease;
    text-align: left;
    font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    &.selected, &.selected:hover {
      color: $text-color;
      font-weight: 600;
      background-color: $selected-background-color;
    }
    &:hover {
      background-color: $hover-background-color;
    }
  }
}
