@import 'assets/style/preprocess';

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;

  &.open {
    visibility: visible;
    opacity: 1;
  }
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: $background-color;
  border-radius: 0;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .header {
  margin-top: 0;
  color: $text-color;
  font-family: Tahoma, Arial, sans-serif;
  line-height: 40px;
  height: 40px;
}
.popup .close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: $text-color;
  border: none;
  background: none;
  outline: none;
}
.popup .close:hover {
  color: $brand-color;
}
.popup .content {
  max-height: 30%;
  overflow: hidden;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
}
