/**
  * Basic color variable
  * Never use basic color variable in component directly
  */
$white: #ffffff;
$black: #000000;
$red-1: #7f0019;

$gray-1: #aaaaaa;
$gray-2: #bbbbbb;
$gray-3: #cccccc;
$gray-4: #dddddd; //shadow
$gray-5: #f5f5f5; //cover background color

$dark-blue-1: #1a2a3a;
$dark-blue-2: #2a3a4a;
$dark-blue-3: #3a4a5a;
$dark-blue-4: #4a5a6a;

$central: #c41832;
// common
// red: central lai-king
// blue: tuen-mun tai-wai
// yellow: tiu-keng-leng
// green: chai-wan
// gray: diamond-hill airport kowloon
// light gray: sunny-bay asia-world-expo yau-ma-tei
$text-color: $dark-blue-4;
$border-color: $dark-blue-4;
$box-shadow-color: $gray-4;
$background-color: $white;
$brand-color: $central;
$selected-background-color: $gray-5;
$hover-background-color: $gray-5;
$error-color: $central;
// button
$button-backgound-color: $white;
$button-border-color: $border-color;
$button-box-shadow-color: $box-shadow-color;

// button-primary
$button-primary-backgound-color: $brand-color;
$button-primary-background-color-hover: $brand-color;
$button-primary-text-color: $white;
$button-primary-border-color: $brand-color;
$button-primary-box-shadow-color: $box-shadow-color;

// button-primary$ghost
$button-primary-ghost-backgound-color: $white;
$button-primary-ghost-background-color-hover: $white;
$button-primary-ghost-text-color: $brand-color;
$button-primary-ghost-border-color: $brand-color;
$button-primary-ghost-box-shadow-color: $box-shadow-color;

// button-secondary
$button-secondary-backgound-color: $border-color;
$button-secondary-background-color-hover: $border-color;
$button-secondary-text-color: $white;
$button-secondary-border-color: $border-color;
$button-secondary-box-shadow-color: $box-shadow-color;

// button-secondary$ghost
$button-secondary-ghost-backgound-color: $white;
$button-secondary-ghost-background-color-hover: $white;
$button-secondary-ghost-text-color: $text-color;
$button-secondary-ghost-border-color: $border-color;
$button-secondary-ghost-box-shadow-color: $box-shadow-color;

// z-index
$zIndex: (
  overlay: 999,
  modal: 1000,
  selectList: 2,
  inputContent: 1,
  inputLabel: 1,
  inputBox: 1
);
