/**
  * Basic color variable
  * Never use basic color variable in component directly
  */
$white: #ffffff;
$black: #000000;
$red-1: #7f0019;

$gray-1: #aaaaaa;
$gray-2: #bbbbbb;
$gray-3: #cccccc;
$gray-4: #dddddd; //shadow, cover background color
$dark-blue-1: #1a2a3a;
$dark-blue-2: #2a3a4a;
$dark-blue-3: #3a4a5a;
$dark-blue-4: #4a5a6a;

$heng-fa-chuen: #b51921;
$tai-koo: #b2103e;
$kowloon-bay: #c41832;
$tseung-kwan-o: #ef342a;
$wui-kai-sha: #a84d18;
$po-lam: #f68f26;
$sai-wan-ho: #faca07;
$disneyland-resort: #07594a;
$skek-kip-mei: #4ba946;
$racecourse: #5fc0a7;
$tai-wai: #0376c2;
$central: #c41832;
$tsuen-wan: #c41832;
$mong-kok: #be3223;
$hung-hom: #f45f7c;
$kam-sheung-road: #d16f20;
$tai-wo: #ffd00d;
$chai-wan: #076750;
$fanling: #7abf45;
$lok-ma-chau: #75c7b9;
$choi-hung: #077cb0;
$shau-kei-wan: #29409a;
$tsuen-wan-west: #ee1e4f;
$lai-king: #d2174a;
$long-ping: #f79d8b;
$austin: #ce7020;
$sheung-shui: #e9a519;
$yau-tong: #fddf55;
$jordan: #076a66;
$ngau-tau-kok: #a7c299;
$mei-foo: #098ec4;
$kennedy-town: #89d2e3;
$tung-chung: #7572a7;
$sha-tin-wai: #f7b1bf;
$north-point: #f67e2a;
$lai-chi-kok: #f57125;
$fo-tan: #fbaf37;
$kwai-hing: #fde14e;
$kwai-fong: #076c53;
$tai-wo-hau: #b2d68c;
$tai-shui-hang: #8fd1cd;
$tuen-mun: #0798c7;
$sai-ying-pun: #9597ca;
$diamond-hill: #69686d;
$tin-hau: #f47a25;
$city-one: #fcba5d;
$sheung-wan: #f8d29d;
$shek-mun: #ffe285;
$quarry-bay: #077e7a;
$h-k-u: #d0e4a9;
$siu-hong: #81cdc1;
$lam-tin: #22b6ed;
$heng-on: #b4d6f2;
$sha-tin: #c077af;
$airport: #bbbfc2;
$che-kung-temple: #fed7a6;
$tin-shui-wai: #fcae62;
$tsim-sha-tsui: #ffe901;
$sham-shui-po: #078e82;
$tiu-keng-leng: #d7df3f;
$yuen-long: #89d3de;
$heng-hau: #22b6ed;
$tai-po-market: #b295c5;
$kowloon: #c5c4c9;
$sunny-bay: #d1d5d8;
$asia-world-expo: #f2f1f6;
$nam-cheong: #efe946;
$wong-tai-shin: #fff455;
$east-tsim-sha-tsui: #ffe901;
$lok-fu: #4c7020;
$tsing-yi: #c4e0e1;
$kowloon-tong: #79bce7;
$university: #b7e1fa;
$ma-on-shan: #c7a7d2;
$yau-ma-tei: #e5e4e9;
$hong-kong: #f2f1f6;
$kwun-tong: #f2f2f6;
$fortress-hill: #1fb27f;
$cheung-sha-wan: #b5a87f;
$mong-kok-east: #07b195;
$wan-chai: #d7df3f;
$olympic: #6dade2;
$admiralty: #4dc7ec;
$LOHAS-park: #a8b7d8;
$prince-edward: #b8a1a9;
$causeway-bay: #f8c9cb;
$lo-wu: #f2f1f6;

// common
// red: central lai-king
// blue: tuen-mun tai-wai
// yellow: tiu-keng-leng
// green: chai-wan
// gray: diamond-hill airport kowloon
// light gray: sunny-bay asia-world-expo yau-ma-tei
$text-color: $dark-blue-4;
$border-color: $dark-blue-4;
$box-shadow-color: $gray-4;
$background-color: $white;
$brand-color: $central;
$selected-background-color: $gray-4;
$hover-background-color: $gray-4;

// button
$button-backgound-color: $white;
$button-border-color: $border-color;
$button-box-shadow-color: $box-shadow-color;

// button-primary
$button-primary-backgound-color: $brand-color;
$button-primary-background-color-hover: $brand-color;
$button-primary-text-color: $white;
$button-primary-border-color: $brand-color;
$button-primary-box-shadow-color: $box-shadow-color;

// button-primary$ghost
$button-primary-ghost-backgound-color: $white;
$button-primary-ghost-background-color-hover: $white;
$button-primary-ghost-text-color: $brand-color;
$button-primary-ghost-border-color: $brand-color;
$button-primary-ghost-box-shadow-color: $box-shadow-color;

// button-secondary
$button-secondary-backgound-color: $border-color;
$button-secondary-background-color-hover: $border-color;
$button-secondary-text-color: $white;
$button-secondary-border-color: $border-color;
$button-secondary-box-shadow-color: $box-shadow-color;

// button-secondary$ghost
$button-secondary-ghost-backgound-color: $white;
$button-secondary-ghost-background-color-hover: $white;
$button-secondary-ghost-text-color: $text-color;
$button-secondary-ghost-border-color: $border-color;
$button-secondary-ghost-box-shadow-color: $box-shadow-color;
