.carousel-container {
  // display: flex;
  position: relative;
  width: 320px;
  height: 320px;
  zoom: 0.3;
  border: 1px solid blue;
  // overflow: hidden;
}

.carousel-item {
  position: absolute;
  left: 0;
  top: 0;
}

.carousel-item img {
  width: 320px;
  height: 320px;
}
