/*!
 * custom-global style
 */
body {
  font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

a:link, a:visited, a:hover, a:active, a:focus {
  text-decoration: none;
}

.column {
  padding: 8px 0;
}
