@import 'assets/style/preprocess';
.checkbox {
  display: inline-block;
  /* Base for label styling */
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
  }
  [type="checkbox"] + label span {
    vertical-align: baseline;
    color: $text-color;
    font-size: 12px;
  }

  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 16px; height: 16px;
    border: 1px solid $border-color;
    background: #fff;
    border-radius: 0;
  }
  /* checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: '\2713\0020';
    position: absolute;
    top: 2px; left: 4px;
    font-size: 16px;
    color: $brand-color;
    transition: all .2s;
    font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
  }
  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  /* disabled checkbox */
  [type="checkbox"]:disabled:not(:checked) + label:before,
  [type="checkbox"]:disabled:checked + label:before {
    cursor: not-allowed;
    opacity: 0.6;
  }
  [type="checkbox"]:disabled:checked + label:after {
    cursor: not-allowed;
    opacity: 0.6;
  }
  [type="checkbox"]:disabled + label {
    cursor: not-allowed;
    opacity: 0.6;
  }
  /* accessibility */
  // [type="checkbox"]:checked:focus + label:before,
  // [type="checkbox"]:not(:checked):focus + label:before {
  //   border: 2px dotted blue;
  // }

  /* hover style just for information */
  // label:hover:before {
  //   border: 2px solid #4778d9!important;
  // }
}
